@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500,500i,600,600i");
@import url("https://fonts.googleapis.com/css?family=Manrope:400,400i,500,500i,600,600i");
@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono:400,400i,500,500i,600,600i");

/* Set variables */
:root {
  --font-size-1: 2.5rem;
  --font-size-2: 2rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-small: 0.8rem;
  --font-size-xsmall: 0.6rem;
  --normal-black:   #1F1F28;
  --normal-red:     #C34043;
  --normal-green:   #76946A;
  --normal-yellow:  #C0A36E;
  --normal-blue:    #7E9CD8;
  --normal-magenta: #957FB8;
  --normal-cyan:    #6A9589;
  --normal-white:   #F2F2F2;
  --light-black:   #727169;
  --light-red:     #E82424;
  --light-green:   #98BB6C;
  --light-yellow:  #E6C384;
  --light-blue:    #7FB4CA;
  --light-magenta: #938AA9;
  --light-cyan:    #7AA89F;
  --light-white:   #DCD7BA;

}

/* Set padding and margin */
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--normal-black);
}

/* Header margin */
h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ------------------------- */
::selection {
  background-color: var(--normal-magenta);
  color: var(--normal-white);
}

html,
body {
  font-family: "Manrope", Helvetica, sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Cormorant Garamond", Helvetica, sans-serif;
  font-weight: 600;
  font-size: var(--font-size-1);
}

h2 {
  font-family: "Cormorant Garamond", Helvetica, sans-serif;
  font-weight: 500;
  font-size: var(--font-size-2);
}

h3 {
  font-family: "Cormorant Garamond", Helvetica, sans-serif;
  font-weight: 400;
  font-size: var(--font-size-3);
}

h4 {
  font-family: "Cormorant Garamond", Helvetica, sans-serif;
  font-weight: 400;
  font-size: var(--font-size-3);
}

h5 {
  font-family: "Cormorant Garamond", Helvetica, sans-serif;
  font-weight: 400;
  font-size: var(--font-size-3);
}

h1 > .subtitle {
  font-size: var(--font-size-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -0.03em;
}

.outline-2 > h2,
#table-of-contents > h2 {
  text-align: center;
}

/* Table of contents */
#table-of-contents ul {
  list-style-type: none;
  margin: 0;
}

#table-of-contents .tag {
  display: none;
}

.outline-3 {
  border-bottom: 1px solid #ccc;
}

.outline-2 > h2 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.outline-2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

img {
  max-width: 100%;
}

/* Code */
pre {
  margin: 1rem;
  background-color: var(--normal-grey);
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: var(--font-size-small) !important;
}

.outline-3 {
  display: grid;
  grid-template-columns: 40fr 60fr;
}

/* Responsive content positioning */
@media only screen and (min-width: 750px) /* Large screens */ {
  .outline-3 {
    margin: 0vh 10vw;
  }

  .outline-text-2,
  #table-of-contents {
    padding: 0vh 10vw;
  }
}

@media only screen and (max-width: 750px) /* Small screens */ {
  .outline-3 {
    margin: 0vh 5vw;
    display: block;
  }

  .outline-text-2,
  #table-of-contents {
    padding: 0vh 5vw;
  }
}

blockquote {
  border-left: 0.2rem solid var(--normal-magenta);
  padding-left: 1rem;
  font-style: italic;
}

p,
pre,
ol,
ul,
table,
code {
  color: var(--normal-white);
}

table,
blockquote,
pre,
ol,
ul,
p,
#postamble {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--normal-white);
}

.tag {
  margin-top: 0.5rem;
  display: block;
  color: var(--normal-white);
  font-size: var(--font-size-xsmall);
}

.tag > span {
  font-weight: 400;
  font-size: 0.6rem;
  background-color: var(--normal-magenta);
  text-transform: uppercase;
  border-radius: 2px;
  width: fit-content;
  height: auto;
  padding: 1px 5px;
  margin: 1px;
}

/* Stripe table */
tr:nth-child(even) {
  background-color: #eee;
}

.title {
  padding: 2vh 5vw;
}

pre {
  font-family: "JetBrains Mono", monospace;
  font-size: var(--font-size-4);
}

.org-org-meta-line {
  color: var(--normal-magenta);
}

.org-keyword {
  color: var(--normal-magenta);
}

a {
  color: var(--normal-magenta);
}

.underline {
  text-decoration: underline;
}

.todo {
  color: var(--normal-red);
  font-weight: 400;
}

.done {
  color: var(--normal-magenta);
  font-weight: 400;
}

/* Postamble */
#postamble {
  text-align: center;
  width: 100%;
}

#postamble > p {
  display: inline;
  font-size: var(--font-size-4);
}

.outline-text-2,
.outline-text-3,
.outline-text-4 {
  max-width: 100%;
  overflow-x: auto;
}

.org-bold { /* bold */ font-weight: bold; }
.org-bold-italic { /* bold-italic */ font-weight: bold; font-style: italic; }
.org-buffer-menu-buffer { /* buffer-menu-buffer */ font-weight: bold; }
.org-builtin { /* font-lock-builtin-face */ color: var(--normal-magenta); }
.org-button { /* button */ text-decoration: underline; }
.org-calendar-today { /* calendar-today */ text-decoration: underline; }
.org-change-log-acknowledgement { /* change-log-acknowledgement */ color: var(--normal-red); }
.org-change-log-conditionals { /* change-log-conditionals */ color: var(--light-red); }
.org-change-log-date { /* change-log-date */ color: var(--normal-magenta); }
.org-change-log-email { /* change-log-email */ color: var(--light-red); }
.org-change-log-file { /* change-log-file */ color: var(--normal-blue); }
.org-change-log-function { /* change-log-function */ color: var(--light-red); }
.org-change-log-list { /* change-log-list */ color: var(--light-magenta); }
.org-change-log-name { /* change-log-name */ color: var(--normal-cyan); }
.org-comint-highlight-input { /* comint-highlight-input */ font-weight: bold; }
.org-comint-highlight-prompt { /* comint-highlight-prompt */ color: var(--normal-blue); }
.org-comment { /* font-lock-comment-face */ color: var(--normal-red); }
.org-comment-delimiter { /* font-lock-comment-delimiter-face */ color: var(--normal-red); }
.org-completions-annotations { /* completions-annotations */ font-style: italic; }
.org-completions-common-part { /* completions-common-part */ color: var(--normal-black); background-color: var(--light-white); }
.org-completions-first-difference { /* completions-first-difference */ font-weight: bold; }
.org-constant { /* font-lock-constant-face */ color: var(--normal-cyan); }
.org-diary { /* diary */ color: var(--light-red); }
.org-diff-context { /* diff-context */ color: var(--normal-black); }
.org-diff-file-header { /* diff-file-header */ background-color: var(--normal-white); font-weight: bold; }
.org-diff-function { /* diff-function */ background-color: var(--normal-white); }
.org-diff-header { /* diff-header */ background-color: var(--normal-white); }
.org-diff-hunk-header { /* diff-hunk-header */ background-color: var(--normal-white); }
.org-diff-index { /* diff-index */ background-color: var(--normal-white); font-weight: bold; }
.org-diff-nonexistent { /* diff-nonexistent */ background-color: var(--normal-white); font-weight: bold; }
.org-diff-refine-change { /* diff-refine-change */ background-color: var(--normal-white); }
.org-dired-directory { /* dired-directory */ color: var(--normal-blue); }
.org-dired-flagged { /* dired-flagged */ color: var(--light-red); font-weight: bold; }
.org-dired-header { /* dired-header */ color: var(--normal-green); }
.org-dired-ignored { /* dired-ignored */ color: var(--normal-black); }
.org-dired-mark { /* dired-mark */ color: var(--normal-cyan); }
.org-dired-marked { /* dired-marked */ color: var(--light-red); font-weight: bold; }
.org-dired-perm-write { /* dired-perm-write */ color: var(--normal-red); }
.org-dired-symlink { /* dired-symlink */ color: var(--light-magenta); }
.org-dired-warning { /* dired-warning */ color: var(--light-red); font-weight: bold; }
.org-doc { /* font-lock-doc-face */ color: var(--normal-magenta); }
.org-escape-glyph { /* escape-glyph */ color: var(--normal-red); }
.org-file-name-shadow { /* file-name-shadow */ color: var(--normal-black); }
.org-flyspell-duplicate { /* flyspell-duplicate */ color: var(--normal-yellow); font-weight: bold; text-decoration: underline; }
.org-flyspell-incorrect { /* flyspell-incorrect */ color: var(--light-red); font-weight: bold; text-decoration: underline; }
.org-fringe { /* fringe */ background-color: var(--normal-white); }
.org-function-name { /* font-lock-function-name-face */ color: var(--normal-blue); }
.org-header-line { /* header-line */ color: var(--light-black); background-color: var(--light-white); }
.org-help-argument-name { /* help-argument-name */ font-style: italic; }
.org-highlight { /* highlight */ background-color: var(--light-green); }
.org-holiday { /* holiday */ background-color: var(--light-yellow); }
.org-isearch { /* isearch */ color: var(--light-blue); background-color: var(--light-magenta); }
.org-isearch-fail { /* isearch-fail */ background-color: var(--light-yellow); }
.org-italic { /* italic */ font-style: italic; }
.org-keyword { /* font-lock-keyword-face */ color: var(--light-magenta); }
.org-lazy-highlight { /* lazy-highlight */ background-color: var(--normal-cyan); }
.org-link { /* link */ color: var(--normal-blue); text-decoration: underline; }
.org-link-visited { /* link-visited */ color: #8b008b; text-decoration: underline; }
.org-log-edit-header { /* log-edit-header */ color: var(--light-magenta); }
.org-log-edit-summary { /* log-edit-summary */ color: var(--normal-blue); }
.org-log-edit-unknown-header { /* log-edit-unknown-header */ color: var(--normal-red); }
.org-match { /* match */ background-color: var(--normal-yellow); }
.org-next-error { /* next-error */ background-color: var(--light-yellow); }
.org-nobreak-space { /* nobreak-space */ color: var(--normal-red); text-decoration: underline; }
.org-org-archived { /* org-archived */ color: var(--normal-black); }
.org-org-block { /* org-block */ color: var(--normal-black); }
.org-org-block-begin-line { /* org-block-begin-line */ color: var(--normal-red); }
.org-org-block-end-line { /* org-block-end-line */ color: var(--normal-red); }
.org-org-checkbox { /* org-checkbox */ font-weight: bold; }
.org-org-checkbox-statistics-done { /* org-checkbox-statistics-done */ color: var(--normal-green); font-weight: bold; }
.org-org-checkbox-statistics-todo { /* org-checkbox-statistics-todo */ color: var(--light-red); font-weight: bold; }
.org-org-clock-overlay { /* org-clock-overlay */ background-color: var(--normal-yellow); }
.org-org-code { /* org-code */ color: var(--normal-black); }
.org-org-column { /* org-column */ background-color: var(--light-white); }
.org-org-column-title { /* org-column-title */ background-color: var(--light-white); font-weight: bold; text-decoration: underline; }
.org-org-date { /* org-date */ color: var(--light-magenta); text-decoration: underline; }
.org-org-document-info { /* org-document-info */ color: var(--normal-blue); }
.org-org-document-info-keyword { /* org-document-info-keyword */ color: var(--normal-black); }
.org-org-document-title { /* org-document-title */ color: var(--normal-blue); font-size: 144%; font-weight: bold; }
.org-org-done { /* org-done */ color: var(--normal-green); font-weight: bold; }
.org-org-drawer { /* org-drawer */ color: var(--normal-blue); }
.org-org-ellipsis { /* org-ellipsis */ color: var(--normal-yellow); text-decoration: underline; }
.org-org-footnote { /* org-footnote */ color: var(--light-magenta); text-decoration: underline; }
.org-org-formula { /* org-formula */ color: var(--normal-red); }
.org-org-headline-done { /* org-headline-done */ color: var(--normal-magenta); }
.org-org-hide { /* org-hide */ color: var(--light-white); }
.org-org-latex-and-export-specials { /* org-latex-and-export-specials */ color: var(--normal-yellow); }
.org-org-level-1 { /* org-level-1 */ color: var(--normal-blue); }
.org-org-level-2 { /* org-level-2 */ color: var(--light-red); }
.org-org-level-3 { /* org-level-3 */ color: var(--light-magenta); }
.org-org-level-4 { /* org-level-4 */ color: var(--normal-red); }
.org-org-level-5 { /* org-level-5 */ color: var(--normal-green); }
.org-org-level-6 { /* org-level-6 */ color: var(--normal-cyan); }
.org-org-level-7 { /* org-level-7 */ color: var(--normal-magenta); }
.org-org-level-8 { /* org-level-8 */ color: var(--normal-magenta); }
.org-org-link { /* org-link */ color: var(--normal-blue); text-decoration: underline; }
.org-org-meta-line { /* org-meta-line */ color: var(--normal-red); }
.org-org-mode-line-clock { /* org-mode-line-clock */ color: var(--normal-black); background-color: var(--normal-white); }
.org-org-mode-line-clock-overrun { /* org-mode-line-clock-overrun */ color: var(--normal-black); background-color: var(--light-red); }
.org-org-quote { /* org-quote */ color: var(--normal-black); }
.org-org-scheduled { /* org-scheduled */ color: var(--normal-green); }
.org-org-scheduled-previously { /* org-scheduled-previously */ color: var(--normal-red); }
.org-org-scheduled-today { /* org-scheduled-today */ color: var(--normal-green); }
.org-org-sexp-date { /* org-sexp-date */ color: var(--light-magenta); }
.org-org-special-keyword { /* org-special-keyword */ color: var(--light-magenta); }
.org-org-table { /* org-table */ color: var(--normal-blue); }
.org-org-tag { /* org-tag */ font-weight: bold; }
.org-org-target { /* org-target */ text-decoration: underline; }
.org-org-time-grid { /* org-time-grid */ color: var(--normal-yellow); }
.org-org-todo { /* org-todo */ color: var(--light-red); font-weight: bold; }
.org-org-upcoming-deadline { /* org-upcoming-deadline */ color: var(--normal-red); }
.org-org-verbatim { /* org-verbatim */ color: var(--normal-black); }
.org-org-verse { /* org-verse */ color: var(--normal-black); }
.org-org-warning { /* org-warning */ color: var(--light-red); font-weight: bold; }
.org-outline-1 { /* outline-1 */ color: var(--normal-blue); }
.org-outline-2 { /* outline-2 */ color: var(--light-red); }
.org-outline-3 { /* outline-3 */ color: var(--light-magenta); }
.org-outline-4 { /* outline-4 */ color: var(--normal-red); }
.org-outline-5 { /* outline-5 */ color: var(--normal-green); }
.org-outline-6 { /* outline-6 */ color: var(--normal-cyan); }
.org-outline-7 { /* outline-7 */ color: var(--normal-magenta); }
.org-outline-8 { /* outline-8 */ color: var(--normal-magenta); }
.org-preprocessor { /* font-lock-preprocessor-face */ color: var(--normal-magenta); }
.org-query-replace { /* query-replace */ color: var(--light-blue); background-color: var(--light-magenta); }
.org-regexp-grouping-backslash { /* font-lock-regexp-grouping-backslash */ font-weight: bold; }
.org-regexp-grouping-construct { /* font-lock-regexp-grouping-construct */ font-weight: bold; }
.org-region { /* region */ background-color: var(--light-yellow); }
.org-secondary-selection { /* secondary-selection */ background-color: var(--normal-yellow); }
.org-shadow { /* shadow */ color: var(--normal-black); }
.org-show-paren-match { /* show-paren-match */ background-color: var(--normal-cyan); }
.org-show-paren-mismatch { /* show-paren-mismatch */ color: var(--light-white); background-color: var(--light-magenta); }
.org-string { /* font-lock-string-face */ color: var(--normal-magenta); }
.org-tool-bar { /* tool-bar */ color: var(--normal-black); background-color: var(--normal-white); }
.org-tooltip { /* tooltip */ color: var(--normal-black); background-color: var(--light-white); }
.org-trailing-whitespace { /* trailing-whitespace */ background-color: var(--light-red); }
.org-type { /* font-lock-type-face */ color: var(--normal-green); }
.org-underline { /* underline */ text-decoration: underline; }
.org-variable-name { /* font-lock-variable-name-face */ color: var(--light-red); }
.org-warning { /* font-lock-warning-face */ color: var(--light-red); font-weight: bold; }
.org-widget-button { /* widget-button */ font-weight: bold; }
.org-widget-button-pressed { /* widget-button-pressed */ color: var(--light-red); }
.org-widget-documentation { /* widget-documentation */ color: var(--normal-green); }
.org-widget-field { /* widget-field */ background-color: var(--normal-white); }
.org-widget-inactive { /* widget-inactive */ color: var(--normal-black); }
.org-widget-single-line-field { /* widget-single-line-field */ background-color: var(--normal-white); }
